{{ define "footer.tmpl" }}
    <!-- MDB -->
    <script type="text/javascript" src="assets/js/mdb.min.js"></script>
    <!-- jQuery -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <!-- Toastr -->
    <script src="assets/js/toastr.min.js"></script>
    <!-- Custom scripts -->
    <script src="assets/js/script.js"></script>
{{ end }}